<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>566190706008-htm515doi2ee1knno6d19tb0lei5n7ub.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.566190706008-htm515doi2ee1knno6d19tb0lei5n7ub</string>
	<key>API_KEY</key>
	<string>AIzaSyBvO-TYzX9KqX9KqX9KqX9KqX9KqX9KqX9Kq</string>
	<key>GCM_SENDER_ID</key>
	<string>566190706008</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.playground.AuthProject</string>
	<key>PROJECT_ID</key>
	<string>authproject-123456</string>
	<key>STORAGE_BUCKET</key>
	<string>authproject-123456.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:566190706008:ios:1234567890abcdef</string>
</dict>
</plist> 