<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleURLTypes</key>
    <array>
        <dict>
            <key>CFBundleURLName</key>
            <string>com.playground.AuthProject.oauth</string>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>com.playground.AuthProject</string>
            </array>
        </dict>
        <dict>
            <key>CFBundleURLName</key>
            <string>com.authproject.oauth</string>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>authproject</string>
            </array>
        </dict>
        <dict>
            <key>CFBundleURLName</key>
            <string>com.google.oauth</string>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>com.googleusercontent.apps.566190706008-htm515doi2ee1knno6d19tb0lei5n7ub</string>
            </array>
        </dict>
    </array>
    <key>LSApplicationQueriesSchemes</key>
    <array>
        <string>com.googleusercontent.apps.566190706008-htm515doi2ee1knno6d19tb0lei5n7ub</string>
    </array>
</dict>
</plist> 